header  {
  background: url("/images/gtfo_tulips.jpg") repeat;
  background-attachment: fixed;
  background-position: center top;
  overflow-x: hidden;
  background-size: 100%;
}

body {
  color: white;
}

h1 {
  color: white;
}
